<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PPIOTIconsVersion</key>
	<string>2.3.19</string>
	<key>PPBrand</key>
	<string>presencefamily</string>
	<key>PPAppName</key>
	<string>presencefamily</string>
	<key>PPCompanyName</key>
	<string>People Power Company</string>
	<key>PPCloudConnectivityCloud</key>
	<dict>
		<key>name</key>
		<string>sbox</string>
		<key>currentTime</key>
		<string>2018-03-25T19:31:27Z</string>
		<key>defaultTimezone</key>
		<dict>
			<key>id</key>
			<string>UTC</string>
			<key>offset</key>
			<integer>0</integer>
			<key>dst</key>
			<false/>
			<key>name</key>
			<string>Coordinated Universal Time</string>
		</dict>
		<key>servers</key>
		<array>
			<dict>
				<key>type</key>
				<string>appapi</string>
				<key>host</key>
				<string>sboxall.presencepro.com</string>
				<key>path</key>
				<string>/espapi</string>
				<key>port</key>
				<integer>443</integer>
				<key>ssl</key>
				<true/>
				<key>altPort</key>
				<integer>80</integer>
				<key>altSsl</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>webapp</string>
				<key>host</key>
				<string>sboxall.presencepro.com</string>
				<key>port</key>
				<integer>443</integer>
				<key>ssl</key>
				<true/>
				<key>altPort</key>
				<integer>80</integer>
				<key>altSsl</key>
				<false/>
				<key>brand</key>
				<string>presence</string>
			</dict>
			<dict>
				<key>type</key>
				<string>deviceio</string>
				<key>host</key>
				<string>sbox2.presencepro.com</string>
				<key>path</key>
				<string>/deviceio</string>
				<key>port</key>
				<integer>8443</integer>
				<key>ssl</key>
				<true/>
				<key>altPort</key>
				<integer>8080</integer>
				<key>altSsl</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>streaming</string>
				<key>host</key>
				<string>sbox1.presencepro.com</string>
				<key>path</key>
				<string>/streaming</string>
				<key>port</key>
				<real>8443</real>
				<key>ssl</key>
				<true/>
				<key>altPort</key>
				<real>8080</real>
				<key>altSsl</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>PPVideoTokens</key>
	<dict>
		<key>PPVideoTokenProvider.1</key>
		<dict>
			<key>PPVideoTokenAppId</key>
			<string>VIDYO_APP_ID</string>
			<key>PPVideoTokenAppName</key>
			<string>VIDYO_APP_NAME</string>
		</dict>
		<key>PPVideoTokenProvider.2</key>
		<dict>
			<key>PPVideoTokenAppId</key>
			<string>TWILIO_SID</string>
			<key>PPVideoTokenAppName</key>
			<string>TWILIO_APP_NAME</string>
		</dict>
	</dict>
	<key>PPColors</key>
	<dict>
		<key>PPColorPrimary</key>
		<string>#05274D</string>
		<key>PPColorSecondary</key>
		<string>#3487ED</string>
		<key>PPColorTertiary</key>
		<string>#67BD45</string>
		<key>PPColorQuarternary</key>
		<string>#D0021B</string>
		<key>PPColorOther</key>
		<string>#FF8228</string>
		<key>PPColorBackground</key>
		<string>#E7EEF1</string>
		<key>PPColorMedium</key>
		<string>#C0C8CC</string>
		<key>PPColorAccents</key>
		<string>#787F84</string>
		<key>PPColorMediaBackground</key>
		<string>#2A2A2A</string>
		<key>PPColorDetail</key>
		<string>#787F84</string>
		<key>PPColorInfo</key>
		<string>#242F3F</string>
		<key>PPColorWarning</key>
		<string>#F8890C</string>
		<key>PPColorCritical</key>
		<string>#D0021B</string>
	</dict>
	<key>PPFont</key>
	<dict>
		<key>PPSuportsFontMetrics</key>
		<false/>
		<key>PPFontSizes</key>
		<dict>
			<key>UICTFontTextStyleHeadline</key>
			<dict>
				<key>UICTContentSizeCategoryAccessibilityXXXL</key>
				<integer>26</integer>
				<key>UICTContentSizeCategoryAccessibilityXXL</key>
				<integer>25</integer>
				<key>UICTContentSizeCategoryAccessibilityXL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityM</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXXL</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXL</key>
				<integer>22</integer>
				<key>UICTContentSizeCategoryXL</key>
				<integer>21</integer>
				<key>UICTContentSizeCategoryL</key>
				<integer>20</integer>
				<key>UICTContentSizeCategoryM</key>
				<integer>19</integer>
				<key>UICTContentSizeCategoryS</key>
				<integer>18</integer>
				<key>UICTContentSizeCategoryXS</key>
				<integer>17</integer>
			</dict>
			<key>UICTFontTextStyleSubhead</key>
			<dict>
				<key>UICTContentSizeCategoryAccessibilityXXXL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityXXL</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryAccessibilityXL</key>
				<integer>22</integer>
				<key>UICTContentSizeCategoryAccessibilityL</key>
				<integer>22</integer>
				<key>UICTContentSizeCategoryAccessibilityM</key>
				<integer>21</integer>
				<key>UICTContentSizeCategoryXXXL</key>
				<integer>21</integer>
				<key>UICTContentSizeCategoryXXL</key>
				<integer>20</integer>
				<key>UICTContentSizeCategoryXL</key>
				<integer>19</integer>
				<key>UICTContentSizeCategoryL</key>
				<integer>18</integer>
				<key>UICTContentSizeCategoryM</key>
				<integer>17</integer>
				<key>UICTContentSizeCategoryS</key>
				<integer>16</integer>
				<key>UICTContentSizeCategoryXS</key>
				<integer>15</integer>
			</dict>
			<key>UICTFontTextStyleBody</key>
			<dict>
				<key>UICTContentSizeCategoryAccessibilityXXXL</key>
				<integer>21</integer>
				<key>UICTContentSizeCategoryAccessibilityXXL</key>
				<integer>20</integer>
				<key>UICTContentSizeCategoryAccessibilityXL</key>
				<integer>19</integer>
				<key>UICTContentSizeCategoryAccessibilityL</key>
				<integer>19</integer>
				<key>UICTContentSizeCategoryAccessibilityM</key>
				<integer>18</integer>
				<key>UICTContentSizeCategoryXXXL</key>
				<integer>18</integer>
				<key>UICTContentSizeCategoryXXL</key>
				<integer>17</integer>
				<key>UICTContentSizeCategoryXL</key>
				<integer>16</integer>
				<key>UICTContentSizeCategoryL</key>
				<integer>15</integer>
				<key>UICTContentSizeCategoryM</key>
				<integer>14</integer>
				<key>UICTContentSizeCategoryS</key>
				<integer>13</integer>
				<key>UICTContentSizeCategoryXS</key>
				<integer>12</integer>
			</dict>
			<key>UICTFontTextStyleCaption1</key>
			<dict>
				<key>UICTContentSizeCategoryAccessibilityXXXL</key>
				<integer>19</integer>
				<key>UICTContentSizeCategoryAccessibilityXXL</key>
				<integer>18</integer>
				<key>UICTContentSizeCategoryAccessibilityXL</key>
				<integer>17</integer>
				<key>UICTContentSizeCategoryAccessibilityL</key>
				<integer>17</integer>
				<key>UICTContentSizeCategoryAccessibilityM</key>
				<integer>16</integer>
				<key>UICTContentSizeCategoryXXXL</key>
				<integer>16</integer>
				<key>UICTContentSizeCategoryXXL</key>
				<integer>16</integer>
				<key>UICTContentSizeCategoryXL</key>
				<integer>15</integer>
				<key>UICTContentSizeCategoryL</key>
				<integer>14</integer>
				<key>UICTContentSizeCategoryM</key>
				<integer>13</integer>
				<key>UICTContentSizeCategoryS</key>
				<integer>12</integer>
				<key>UICTContentSizeCategoryXS</key>
				<integer>12</integer>
			</dict>
			<key>UICTFontTextStyleCaption2</key>
			<dict>
				<key>UICTContentSizeCategoryAccessibilityXXXL</key>
				<integer>18</integer>
				<key>UICTContentSizeCategoryAccessibilityXXL</key>
				<integer>17</integer>
				<key>UICTContentSizeCategoryAccessibilityXL</key>
				<integer>16</integer>
				<key>UICTContentSizeCategoryAccessibilityL</key>
				<integer>16</integer>
				<key>UICTContentSizeCategoryAccessibilityM</key>
				<integer>15</integer>
				<key>UICTContentSizeCategoryXXXL</key>
				<integer>15</integer>
				<key>UICTContentSizeCategoryXXL</key>
				<integer>14</integer>
				<key>UICTContentSizeCategoryXL</key>
				<integer>14</integer>
				<key>UICTContentSizeCategoryL</key>
				<integer>13</integer>
				<key>UICTContentSizeCategoryM</key>
				<integer>12</integer>
				<key>UICTContentSizeCategoryS</key>
				<integer>12</integer>
				<key>UICTContentSizeCategoryXS</key>
				<integer>11</integer>
			</dict>
			<key>UICTFontTextStyleFootnote</key>
			<dict>
				<key>UICTContentSizeCategoryAccessibilityXXXL</key>
				<integer>16</integer>
				<key>UICTContentSizeCategoryAccessibilityXXL</key>
				<integer>15</integer>
				<key>UICTContentSizeCategoryAccessibilityXL</key>
				<integer>14</integer>
				<key>UICTContentSizeCategoryAccessibilityL</key>
				<integer>14</integer>
				<key>UICTContentSizeCategoryAccessibilityM</key>
				<integer>13</integer>
				<key>UICTContentSizeCategoryXXXL</key>
				<integer>13</integer>
				<key>UICTContentSizeCategoryXXL</key>
				<integer>12</integer>
				<key>UICTContentSizeCategoryXL</key>
				<integer>12</integer>
				<key>UICTContentSizeCategoryL</key>
				<integer>11</integer>
				<key>UICTContentSizeCategoryM</key>
				<integer>11</integer>
				<key>UICTContentSizeCategoryS</key>
				<integer>10</integer>
				<key>UICTContentSizeCategoryXS</key>
				<integer>10</integer>
			</dict>
			<key>UICTFontTextStyleTitle0</key>
			<dict>
				<key>UICTContentSizeCategoryAccessibilityXXXL</key>
				<integer>26</integer>
				<key>UICTContentSizeCategoryAccessibilityXXL</key>
				<integer>25</integer>
				<key>UICTContentSizeCategoryAccessibilityXL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityM</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXXL</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXL</key>
				<integer>22</integer>
				<key>UICTContentSizeCategoryXL</key>
				<integer>21</integer>
				<key>UICTContentSizeCategoryL</key>
				<integer>20</integer>
				<key>UICTContentSizeCategoryM</key>
				<integer>19</integer>
				<key>UICTContentSizeCategoryS</key>
				<integer>18</integer>
				<key>UICTContentSizeCategoryXS</key>
				<integer>17</integer>
			</dict>
			<key>UICTFontTextStyleTitle1</key>
			<dict>
				<key>UICTContentSizeCategoryAccessibilityXXXL</key>
				<integer>26</integer>
				<key>UICTContentSizeCategoryAccessibilityXXL</key>
				<integer>25</integer>
				<key>UICTContentSizeCategoryAccessibilityXL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityM</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXXL</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXL</key>
				<integer>22</integer>
				<key>UICTContentSizeCategoryXL</key>
				<integer>21</integer>
				<key>UICTContentSizeCategoryL</key>
				<integer>20</integer>
				<key>UICTContentSizeCategoryM</key>
				<integer>19</integer>
				<key>UICTContentSizeCategoryS</key>
				<integer>18</integer>
				<key>UICTContentSizeCategoryXS</key>
				<integer>17</integer>
			</dict>
			<key>UICTFontTextStyleTitle2</key>
			<dict>
				<key>UICTContentSizeCategoryAccessibilityXXXL</key>
				<integer>26</integer>
				<key>UICTContentSizeCategoryAccessibilityXXL</key>
				<integer>25</integer>
				<key>UICTContentSizeCategoryAccessibilityXL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityM</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXXL</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXL</key>
				<integer>22</integer>
				<key>UICTContentSizeCategoryXL</key>
				<integer>21</integer>
				<key>UICTContentSizeCategoryL</key>
				<integer>20</integer>
				<key>UICTContentSizeCategoryM</key>
				<integer>19</integer>
				<key>UICTContentSizeCategoryS</key>
				<integer>18</integer>
				<key>UICTContentSizeCategoryXS</key>
				<integer>17</integer>
			</dict>
			<key>UICTFontTextStyleTitle3</key>
			<dict>
				<key>UICTContentSizeCategoryAccessibilityXXXL</key>
				<integer>26</integer>
				<key>UICTContentSizeCategoryAccessibilityXXL</key>
				<integer>25</integer>
				<key>UICTContentSizeCategoryAccessibilityXL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityM</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXXL</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXL</key>
				<integer>22</integer>
				<key>UICTContentSizeCategoryXL</key>
				<integer>21</integer>
				<key>UICTContentSizeCategoryL</key>
				<integer>20</integer>
				<key>UICTContentSizeCategoryM</key>
				<integer>19</integer>
				<key>UICTContentSizeCategoryS</key>
				<integer>18</integer>
				<key>UICTContentSizeCategoryXS</key>
				<integer>17</integer>
			</dict>
			<key>UICTFontTextStyleCallout</key>
			<dict>
				<key>UICTContentSizeCategoryAccessibilityXXXL</key>
				<integer>26</integer>
				<key>UICTContentSizeCategoryAccessibilityXXL</key>
				<integer>25</integer>
				<key>UICTContentSizeCategoryAccessibilityXL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityL</key>
				<integer>24</integer>
				<key>UICTContentSizeCategoryAccessibilityM</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXXL</key>
				<integer>23</integer>
				<key>UICTContentSizeCategoryXXL</key>
				<integer>22</integer>
				<key>UICTContentSizeCategoryXL</key>
				<integer>21</integer>
				<key>UICTContentSizeCategoryL</key>
				<integer>20</integer>
				<key>UICTContentSizeCategoryM</key>
				<integer>19</integer>
				<key>UICTContentSizeCategoryS</key>
				<integer>18</integer>
				<key>UICTContentSizeCategoryXS</key>
				<integer>17</integer>
			</dict>
		</dict>
		<key>PPFontHeavy</key>
		<string>SFProText-Heavy</string>
		<key>PPFontLightItalic</key>
		<string>SFProText-LightItalic</string>
		<key>PPFontHeavyItalic</key>
		<string>SFProText-HeavyItalic</string>
		<key>PPFontMedium</key>
		<string>SFProText-Medium</string>
		<key>PPFontItalic</key>
		<string>SFProText-Italic</string>
		<key>PPFontBold</key>
		<string>SFProText-Bold</string>
		<key>PPFontSemiboldItalic</key>
		<string>SFProText-SemiboldItalic</string>
		<key>PPFontLight</key>
		<string>SFProText-Light</string>
		<key>PPFontMediumItalic</key>
		<string>SFProText-MediumItalic</string>
		<key>PPFontBoldItalic</key>
		<string>SFProText-BoldItalic</string>
		<key>PPFontRegular</key>
		<string>SFProText-Regular</string>
		<key>PPFontSemibold</key>
		<string>SFProText-Semibold</string>
	</dict>
</dict>
</plist>
