<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PPAppName</key>
	<string>peoplepowerdemo</string>
	<key>PPAppDescription</key>
	<string>People Power demo application</string>
	<key>PPCompanyDescription</key>
	<string>Smart home enablement company that delivers mobile experiences through our comprehensive internet of things (IoT) development suite.</string>
</dict>
</plist>
