xcuserdata
.DS_Store

# Carthage
Carthage/Build
Carthage/Checkouts
*/Carthage/Build
*/Carthage/Checkouts

# Cocoapods
*/Pods

# Log files
Logs
.gitsecret/keys/random_seed
!*.secret

# Localization
.bartycrouch.toml

# Fastlane
fastlane/report.xml
fastlane/.env.default
fastlane/test_output/*
