<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PPBrand</key>
	<string>peoplepower</string>
	<key>PPAppName</key>
	<string>peoplepower</string>
	<key>PPAppDescription</key>
	<string>People Power models and APIs</string>
	<key>PPCompanyName</key>
	<string>People Power Company</string>
	<key>PPCompanyDescription</key>
	<string>Smart home enablement company that delivers mobile experiences through our comprehensive internet of things (IoT) development suite.</string>
	<key>PPCloudConnectivityCloud</key>
	<dict>
		<key>name</key>
		<string>sbox</string>
		<key>currentTime</key>
		<string>2018-03-25T19:31:27Z</string>
		<key>defaultTimezone</key>
		<dict>
			<key>id</key>
			<string>UTC</string>
			<key>offset</key>
			<integer>0</integer>
			<key>dst</key>
			<false/>
			<key>name</key>
			<string>Coordinated Universal Time</string>
		</dict>
		<key>servers</key>
		<array>
			<dict>
				<key>type</key>
				<string>appapi</string>
				<key>host</key>
				<string>sboxall.presencepro.com</string>
				<key>path</key>
				<string>/espapi</string>
				<key>port</key>
				<integer>443</integer>
				<key>ssl</key>
				<true/>
				<key>altPort</key>
				<integer>80</integer>
				<key>altSsl</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>webapp</string>
				<key>host</key>
				<string>sboxall.presencepro.com</string>
				<key>port</key>
				<integer>443</integer>
				<key>ssl</key>
				<true/>
				<key>altPort</key>
				<integer>80</integer>
				<key>altSsl</key>
				<false/>
				<key>brand</key>
				<string>presence</string>
			</dict>
			<dict>
				<key>type</key>
				<string>deviceio</string>
				<key>host</key>
				<string>sbox2.presencepro.com</string>
				<key>path</key>
				<string>/deviceio</string>
				<key>port</key>
				<integer>8443</integer>
				<key>ssl</key>
				<true/>
				<key>altPort</key>
				<integer>8080</integer>
				<key>altSsl</key>
				<false/>
			</dict>
			<dict>
				<key>type</key>
				<string>streaming</string>
				<key>host</key>
				<string>sbox1.presencepro.com</string>
				<key>path</key>
				<string>/streaming</string>
				<key>port</key>
				<real>8443</real>
				<key>ssl</key>
				<true/>
				<key>altPort</key>
				<real>8080</real>
				<key>altSsl</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>PPVideoTokens</key>
	<dict>
		<key>PPVideoTokenProvider.1</key>
		<dict>
			<key>PPVideoTokenAppId</key>
			<string>VIDYO_APP_ID</string>
			<key>PPVideoTokenAppName</key>
			<string>VIDYO_APP_NAME</string>
		</dict>
		<key>PPVideoTokenProvider.2</key>
		<dict>
			<key>PPVideoTokenAppId</key>
			<string>TWILIO_SID</string>
			<key>PPVideoTokenAppName</key>
			<string>TWILIO_APP_NAME</string>
		</dict>
	</dict>
</dict>
</plist>
