<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Permission to access your camera is needed to turn your device in to a security camera and to do video calls.</string>
	<key>NSContactsUsageDescription</key>
	<string>This will be used to manage your contacts.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Permission to access your microphone is required for video streaming.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This will be used to select your profile image.</string>
	<key>UIAppFonts</key>
	<array>
		<string>PPC IOT Icons Light.ttf</string>
		<string>PPC IOT Icons Regular.ttf</string>
		<string>Weather Icons Light.ttf</string>
		<string>Weather Icons Regular.ttf</string>
		<string>fa-brands-400.ttf</string>
		<string>fa-light-300.ttf</string>
		<string>fa-regular-400.ttf</string>
		<string>fa-solid-900.ttf</string>
		<string>SF-Compact-Display-Black.otf</string>
		<string>SF-Compact-Display-Bold.otf</string>
		<string>SF-Compact-Display-Heavy.otf</string>
		<string>SF-Compact-Display-Light.otf</string>
		<string>SF-Compact-Display-Medium.otf</string>
		<string>SF-Compact-Display-Regular.otf</string>
		<string>SF-Compact-Display-Semibold.otf</string>
		<string>SF-Compact-Display-Thin.otf</string>
		<string>SF-Compact-Display-Ultralight.otf</string>
		<string>SF-Compact-Text-Bold.otf</string>
		<string>SF-Compact-Text-BoldItalic.otf</string>
		<string>SF-Compact-Text-Heavy.otf</string>
		<string>SF-Compact-Text-HeavyItalic.otf</string>
		<string>SF-Compact-Text-Light.otf</string>
		<string>SF-Compact-Text-LightItalic.otf</string>
		<string>SF-Compact-Text-Medium.otf</string>
		<string>SF-Compact-Text-MediumItalic.otf</string>
		<string>SF-Compact-Text-Regular.otf</string>
		<string>SF-Compact-Text-RegularItalic.otf</string>
		<string>SF-Compact-Text-Semibold.otf</string>
		<string>SF-Compact-Text-SemiboldItalic.otf</string>
		<string>SF-Compact-Rounded-Black.otf</string>
		<string>SF-Compact-Rounded-Bold.otf</string>
		<string>SF-Compact-Rounded-Heavy.otf</string>
		<string>SF-Compact-Rounded-Light.otf</string>
		<string>SF-Compact-Rounded-Medium.otf</string>
		<string>SF-Compact-Rounded-Regular.otf</string>
		<string>SF-Compact-Rounded-Semibold.otf</string>
		<string>SF-Compact-Rounded-Thin.otf</string>
		<string>SF-Compact-Rounded-Ultralight.otf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-BlackItalic.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-BoldItalic.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-HeavyItalic.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-LightItalic.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-MediumItalic.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-SemiboldItalic.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-ThinItalic.otf</string>
		<string>SF-Pro-Display-Ultralight.otf</string>
		<string>SF-Pro-Display-UltralightItalic.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Text-BoldItalic.otf</string>
		<string>SF-Pro-Text-Heavy.otf</string>
		<string>SF-Pro-Text-HeavyItalic.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-LightItalic.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-MediumItalic.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Text-RegularItalic.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
		<string>SF-Pro-Text-SemiboldItalic.otf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
